# Python
__pycache__/
*.py[cod]
*.pyo


# Virtual Environment
venv/
.venv/

# IDE Files
.vscode/
*.idea/
node_modules/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db
sample_file.py
sample_folder/
uploads/
.env
.pytest_cache/
